{% extends "layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img style="text-align: center; margin-left: 35%" src="{{ url_for('static', filename='profile_pics/' + current_user.img_file)}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{current_user.username}}
					</div>
					<div class="profile-usertitle-job">
						{{current_user.motto}}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons row">
					<button style="margin: 5px;" type="button" class="btn btn-success btn-sm"><a style="color: white; text-decoration: none;" href="{{ url_for('posts.create_post') }}">Gönderi oluştur</a></button>
          <button style="margin: 5px;" type="button" class="btn btn-primary btn-sm"><a style="color: white; text-decoration: none;" href="{{ url_for('users.profile', username=current_user.username) }}">Topluluk profili</a></button>

				</div>
	       <!-- END MENU -->
			</div>
      <button class="btn btn-info btn-lg col-md-12" style="margin-top: 3px; color: white;" data-toggle="modal" data-target="#userListModal">Topluluk Profilleri</button>

		</div>
		<div class="col-md-9">
            <div class="profile-content">
              <form  method="POST" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  <fieldset class=form-group>
                      <legend calss="border-botton mb-4">Bilgilerini Güncelle</legend
                      <div class="form-group">
                          {{ form.motto.label(class="form-control-group-label") }}
                          {{ form.motto(class="form-control form-control-lg") }}

                      <div class="form-group">
                          {{ form.img_file.label(class="form-control-group-label") }}
                          {{ form.img_file(class="form-control-file") }}
                          {% if form.img_file.errors  %}
                            {% for err in form.img_file.errors %}
                              <span class="text-danger">{{ err }}</span>
                            {% endfor %}
                          {% endif %}
                      </div>
                  </fieldset>
                  <div class="form-group">
                      {{ form.submit(class="btn btn-outline-info") }}
                  </div>
            </div>
            <section class="details-card">
              <div class="container">
                  <div class="row">
                    {% if posts %}
                      {% for post in posts.items %}
                      <div class="col-md-4">
                          <div class="card-content">
                              <div class="card-img">
                                  <img src="{{url_for('static', filename='post_pics/' + post.img_file)}}" alt="">
                              </div>
                              <div class="card-desc">
                                  <h3><a href="{{ url_for('posts.detail_post', post_id=post.id) }}">{{ post.title if post.title|length < 15 else post.title[:15]+ '...' }}</a></h3>
                                  <span style="margin-left: 40px; margin-top: 10px;"><h6>{{ post.author.username }} tarafından</h6></span>
                                  <span class="text-muted"tyle="margin-top: 50px; font-size: 12px;">{{ post.date_posted.strftime('%d-%m-%Y') }}</span>
                                  <a href="{{ url_for('posts.detail_post', post_id=post.id) }}" class="btn btn-primary">Devamı</a>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                    {% endif %}
                  </div>
              </div>
          </section>
          {% for page_num in posts.iter_pages() %}
            {% if page_num %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('users.profile', page=page_num, username=current_user.username) }}">{{ page_num }}</a>
            {% else %}
              ...
            {% endif %}
          {% endfor %}
		</div>
	</div>

  <!-- Modal -->
  <div class="modal fade" id="userListModal" tabindex="-1" role="dialog" aria-labelledby="userListModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userListModalLabel">Profiller</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            {% for name in user_names %}
              {% if current_user.username != name %}
                <li class="list-group-item"><a href="{{ url_for('users.profile', username=name) }}">{{ name }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
